<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- created with https://favicon.io/favicon-converter/ -->
<link rel="icon" type="image/png" sizes="32x32" href="/theme/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/theme/img/favicon/favicon-16x16.png">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/kddk-main.css">
{% endblock %}

{% block richpreview %}
<meta name="description" content="Inititative zur Förderung einer konstruktiven digitale Diskussionskultur">
<!-- <meta name="author" content="some author"> -->
<meta property="og:title" content="KDDK: Konstruktive digitale Diskussionskultur">
<meta property="og:description" content="Inititative zur Förderung einer konstruktiven digitale Diskussionskultur">
<meta property="og:url" content="https://kddk.eu/">
<meta property="og:image" content="/theme/img/kddk_logo1.png">
<meta property="og:type" content="website">
{% endblock %}


<title>{% block title %}KDDK: Konstruktive digitale Diskussionskultur{% endblock %}</title>


</head>
<body>
{% if IS_STAGING | default(False) %}
<div class="warning">
    <p class="notice">ACHTUNG: Dies ist nicht unsere offizielle Website, sondern
        unsere Testumgebung!  Unsere offizelle Website ist
        unter <a href="//kddk.eu">kddk.eu</a>
        zu finden.</p>
    <p class="metadata">Commit-ID: {{ COMMIT_ID }}; Built-At: {{ BUILD_TIME }} UTC</p>
</div>
{% endif %}
<div class="wrapper">
<div class="main-container">

{% block content%}
{% endblock%}

</div> <!-- end main container -->
</div> <!-- end wrapper -->


{% block footer%}
<!-- <footer> -->

<div class="footer">
<div class="footerbar">
    <div class="footer-content">
        <span id="ft_txt1">Keine Cookies. Kein Tracking.</span><br>
        <a id="ft_link_legalnotice" href="https://cknoll.github.io/pages/impressum.html">Impressum</a><br>
        <span id="ft_hosted_on"><br>Gehostet auf</span> <a href="https://uberspace.de/">uberspace</a>
        <br><br>
        Stand: {{ BUILD_TIME }}
    </div>
</div>
</div>
<!-- </footer> -->
{% endblock%}


</body></html>

