{% extends "base.html" %}

{% block richpreview %}
<meta name="description" content="Inititative zur Förderung einer konstruktiven digitale Diskussionskultur">
<!-- <meta name="author" content="some author"> -->
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.og_description}}">
<meta property="og:url" content="https://kddk.eu/">
{% if page.image %}
<meta property="og:image" content="{{ page.image }}">
{% else %}
<meta property="og:image" content="https://kddk.eu/theme/img/kddk_logo1.png">
{% endif %}
<meta property="og:type" content="website">
{% endblock %}

{% block title %}{{ page.title }}{%endblock%}


{% block content %}
{{ page.content }}
{% endblock %}
